<!DOCTYPE html>
<html>
<head>
  <title>Battlefield Timer</title>

  <script>
    PUSHER_KEY = '<%= Pusher.key %>'
  </script>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://js.pusher.com/2.1/pusher.min.js" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
